h1 {
    color: darkgreen;
}

.header {
    font-family: Georgia;
    text-align: center;
}

p {
    line-height: 25px;
}

a {
    text-decoration: none;
}

.caps {
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline
}

.silly {
    padding-right: 20px;
    padding-bottom: 20px;
    float: left;
}

.stay {
    clear: left;
}