
* {
    font-family: "Press Start 2P", cursive;
}

html {
    background-color:dodgerblue;
    background-image: url(http://wallpapercave.com/wp/mXp8XMz.png);
    background-attachment: fixed;
    background-position: center bottom;
    
}

body {
    width: 80%;
    min-width: 600px;
    margin: auto;
    background-color: lightgrey;
}

header {
    background-color: grey;
    height: 90px;
}

header h1 {
    top: 20px;
    position: relative;
    text-align: center;
    margin: auto;
}

header h4 {
    text-align: right;
    top: 40%;
    vertical-align: bottom;
}

nav {
    position: relative;
    width: 100%;
    min-width:;
    background-color: lightgray;
}

nav a {
    display: inline-block;
    margin: 15px;
    text-align: center;
    font-size: 1.1em;
    color: white;
}

nav h3 {
    position: relative;
    text-align: right;
    background-color: grey;
    font-size: 1.3em;
}

main {
    position: relative;
    top: 3%;
    width: 100%;
    min-width: 200px;
    height: 100%;
    
}

li {
    list-style: none;
    font-family: "Press Start 2P", cursive;
}

.task-info {
    width: 100%;
    height: 100%; 
}

.box {
    display: inline-block;
    width: 30%;  
    margin: 1.1%;
}

.box h4 {
    text-align: center;
}

img {
    display: block;
    width:200px;
    margin: auto;
}

.coin {
    width: 20px;
    display: inline-block;
    margin-left: 5px;
}

.coin.total-coin {
    width: 40px;
    bottom: 10px;
    margin-right: 50px;
}

input {
    width: 50px;
    background-color: lightgray;
    font-size: 1em;
}

.grand-bar {
    height: 75px;
    background-color: grey;
}

.grand-bar * {
    position: relative;
    vertical-align: top;
}

.grand-bar h2 {
    position: relative;
    text-align: right;
    display: inline-block;
    width: 50%;
    height: 50%;
}

.grand-total-header {
    float:left;
}

span {
    font-family: "Press Start 2P", cursive;
}

footer {
    width: 80%;
    position: relative;
    bottom: 0;
    margin: auto;
    min-width: 750px;
}

footer a {
    text-align: center;
    position: relative;
    font-family: serif;
    display: inline-block;
    margin: 5px 15px;
    color: grey;
}