<div class="row">
    <h1 class="text-center">Champions</h1>
</div>
<div class="row">
    <div>
        <div class="row">
            <div ng-class="{'col-sm-2 col-xs-4': thing.name !== name}" ng-repeat="thing in allChamps track by $index" ng-route="/ranked/{{thing.name}}">
                <div ng-hide="thing.name === name">
                   <div class="dummy"></div>
                    <a class="position" href="#/champions/{{thing.name}}"><img class="all-img" ng-click="select($index)" ng-src="http://ddragon.leagueoflegends.com/cdn/7.3.2/img/champion/{{ thing.image.full }}" alt=""></a>
                    <h5 class="text-center all-name">{{ thing.name }}</h5>
                </div>
                <div class="splash-box" ng-show="thing.name === name" ng-model="thing.currentSkin">
                    <img class="splash" ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{ thing.key }}_{{ thing.currentSkin }}.jpg" alt="">
                    <div class="text-center">
                    <button class="btn btn-info btn-xs" ng-repeat="skin in thing.skins track by $index" ng-click="newSkin($index, $parent.$index)">{{ skin.name }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>