input, textarea, p {
    width: 95%;
    margin: 20px;
}

.border {
    border: 3px solid black;
    border-radius: 20px;
    margin-bottom: 50px;
}


h1 {
    width: 100%;
    background-color: black;
    position: relative;
    height: 50px;
    top: -23px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    text-align: center;
}