
header {
    position: fixed;
    background-color: rgba(255,255,255,.5);
    width: 100%;
    top: 0%;
    border: solid 2px black;
}

h1 {
    text-align: center;
    position: relative;
    text-transform: uppercase;
}

img {
    width: 100%;
    position: inherit;
    z-index: -1;
}

main {
    margin-top: 100px;
    right: 0%
}

nav {
    width: 200px;
    position: fixed;
    top: 100px;
    height: 200px;
}

main h3, p {
    text-align: center;
}

nav a {
    display: block;
    margin: 20px;
    color: ;
    background-color: rgba(255,255,255,.5);
    font-size: 1.2em;
    border: solid 2px black
}

footer {
    display: inline-block;
    position:fixed;
    bottom: 5%;
    width 50%;
    margin: 0% 25%;
    background-color: rgba(255,255,255,.5);
    border: solid 2px black;  
}

footer a {
    display:inline-block;
    text-align: center;
    font-size: 1.3dem;
    margin: 5px 20px;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

