html {
    background-image: url("footer_lodyas.png")
}

html * {
    background-color: rgba(255,255,255,.0);
}

main {
background-color: white;
    border-radius: 15px
}

main h3, p {
    padding: 10px;
    background-color: white;
    border-radius: 15px;
}

img {
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
    transition: 1s all;
    
}

img:hover {
    filter: grayscale(80%);
}

.main {
    position: relative;
    top: 50px;
}

.tech, .restaurant {
    position: relative;
    margin-top: 15px;
}

#restaurant-button, #tech-button {
    color: white;
    background-color: darkblue;
    display: block;
    position: relative;
    margin: auto;
    bottom: 15px;
}

.restaurant h3, h2  {
    position: relative;
    display: inline-block;
    color: white;
    width: 1920px;
    height: ;
    text-align: center;
    max-width: 100%;
}

.foot {
    position: relative;
    margin-top: 5px;
}

.foot p {
    background-color: rgba(0,0,0,0);
    color: white;
    position: relative;
    top: 0;
    
}
