body {
    background-image: url("tk2_rbzq7ra-rohit-choudhari.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    color: white;
}

.submit, #game-list {
    background-color: grey;
}

.submit {
    border-radius: 10px;
}

#game-list {
    width: 152px;
    height: 25px;
}

input {
    background-color: grey;
    border-radius: 5px;
}

fourm * {
    display: inline-block;
    padding: 10px;
}