<div class="container">
    <div class="row">
        <div>
            <h1 class="text-center home-header">Welcome to Pony Haven</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h3 class="text-center home-small-header">Need a Safe Place to Enjoy My Little Pony?</h3>
            <p class="home-text">Look no further! Here at Pony Haven you can enjoy all the My Little Pony your heart can handle! Want to make an accout? Awesome! Want to remain anonymous? That's cool too! Here at Pony Haven, we let you enjoy ponies the way you want! We even allow you to post anonymously! Talk about discrete! Just watch out for the people looking over your shoulder RIGHT NOW!!!!!!!!</p>
        </div>
        <div class="col-sm-7">
            <img class="home-crest" src="https://derpicdn.net/img/view/2012/12/10/178191__dead+source_safe_artist-colon-sambragg_princess+celestia_princess+luna_coat+of+arms_crest.png">
        </div>
    </div>
</div>