<form class="form">
    <div class="container">
        <div class="row">
            <div>
                <h1 class="text-center">Add a Pony</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <form>
                    <div class="form-group">
                        <input class="form-controll" placeholder="Pony Name" ng-model="pony.name">
                    </div>
                    <div class="form-group">
                        <input class="form-controll" placeholder="Img Url" ng-model="pony.imgUrl">
                    </div>
                    <div class="form-group">
                        <input class="form-controll" placeholder="username (optional)" ng-model="pony.username">
                    </div>
                    <button type="button" class="btn btn-sm" ng-click="addPony(pony)"><a>Submit</a></button>
                </form>
            </div>
        </div>
</form>